<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Trends
                    <small>Based on your views</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
	        <div class="row">
	        	<%Product.all.each do|product|%>
		            <div class="col-md-3 portfolio-item">
		                <%= link_to product_path(product) do%>
		                		<%= image_tag asset_path(product.galleries.first.photo.url),:class=>"img-responsive align-image"%>
		               	<%end%>
		                <h4><%= product.title%></h4>
		            </div>
	          <%end%>
	        </div>
        <!-- /.row -->       

   

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

<script type="text/javascript">
  $(document).ready(function(){
        $.get("http://ipinfo.io", function(response) {
            $("#ip_address").val(response.ip);
        }, "jsonp");  
 }) 
</script>
