<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
<!-- leftpanel -->
<div class="mainpanel">
  <div class="pageheader">
    <h2><i class="fa fa-envelope"></i> Manage Requests <span>Subtitle goes here...</span></h2>
    <div class="breadcrumb-wrapper">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </div>
  </div>
  <div class="contentpanel panel-email">
    <div class="db-empty-state">
      <h2>You have not made any requests</h2>
      <ul>
        <li>
          <h3>Post a Request</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </li>
        <li>
          <h3>Get Offers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </li>
        <li>
          <h3>Place Order</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
        </li>
      </ul>
      <div class="db-table-button"> <a class="btn-lrg-standard " href="#">Post a Request</a> </div>
    </div>
  </div>
  <!-- contentpanel --> 
</div>