<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <!-- leftpanel -->
  <div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i> My Products<span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <ul class="nav nav-tabs" id="custom-tabs">
        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#approval" data-toggle="tab">Pending Approval</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content mb30 custom-tabs-content">
        <div class="tab-pane active" id="active">
          <%= render partial: 'dashboard/shared/product', locals: {product: @products_approved} %>
        </div>
        <div class="tab-pane" id="approval">
          <%= render partial: 'dashboard/shared/product', locals: {product: @products_approved_false} %>
        </div>
      </div>
    </div>
  </div>
</section>