<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <!-- leftpanel -->
  <div class="mainpanel">
    <div class="headerbar">
      <a class="menutoggle"><i class="fa fa-bars"></i></a>
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <img src="/assets/loggeduser.png" alt="" /> John Doe <span class="caret"></span> </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- header-right --> 
    </div>
    <!-- headerbar -->
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i> My Products<span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <ul class="nav nav-tabs" id="custom-tabs">
        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#approval" data-toggle="tab">Pending Approval</a></li>
        <li><a href="#modification" data-toggle="tab">Requires Modification</a></li>
        <li><a href="#draft" data-toggle="tab">Draft</a></li>
        <li><a href="#denied" data-toggle="tab">Denied</a></li>
        <li><a href="#paused" data-toggle="tab">Paused</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content mb30 custom-tabs-content">
        <div class="tab-pane active" id="active">
          <div class="table-responsive">
            <h4>Active Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="approval">
          <div class="table-responsive">
            <h4>pending approval</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="modification">
          <div class="table-responsive">
            <h4>Require Modifications</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="draft">
          <div class="table-responsive">
            <h4>Draft Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="denied">
          <div class="table-responsive">
            <h4>Denied Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="paused">
          <div class="table-responsive">
            <h4>Paused Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Views</th>
                  <th>Order</th>
                  <th>Cancellations</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- contentpanel --> 
  </div>
  <!-- mainpanel --> 
</section>