<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  
  <!-- leftpanel -->
  
  <div class="mainpanel">    
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i> My Sellers <span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper"> <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <div class="table-responsive">
        <h4>Seller Contacts List</h4>
        <table class="table table-info mb30">
          <thead>
            <tr>
              <th>Sellers</th>
              <th>Name</th>
              <th>Shop Name</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Pankaj Raj</td>
              <td>venom sports</td>
              <td>+91 8878974207</td>
              <td>Indore</td>
              <td><i class="fa fa-trash-o"></i></td>
            </tr>
            <tr>
              <td>1</td>
              <td>Pankaj Raj</td>
              <td>venom sports</td>
              <td>+91 8878974207</td>
              <td>Indore</td>
              <td><i class="fa fa-trash-o"></i></td>
            </tr>
            <tr>
              <td>1</td>
              <td>Pankaj Raj</td>
              <td>venom sports</td>
              <td>+91 8878974207</td>
              <td>Indore</td>
              <td><i class="fa fa-trash-o"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
