<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <!-- leftpanel -->
  <div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i> Public Profile Settings <span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel">
      <div class="setting-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 setting-tab-menu">
          <div class="list-group">
           <%=render '/dashboard/shared/setting_left_panel'%>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="well" id="setting-form">
            <form class="form-horizontal" action="" method="post">
              <fieldset>
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-3" for="name">Profile Photo</label>
                  <div class="col-md-9">
                    <input type='file' id="profile-imp" style="display:none;" />
                    <div class="product-img-box">
                      <img id="seller-pic" src="/assets/placeholder-1.svg" alt=""  class="thumbnail img-responsive"/>
                    </div>
                    <small>This photo is your identity on Meri Dookan and appears on your profile.</small>
                  </div>
                </div>
                <!-- Email input-->
                <div class="form-group">
                  <label class="col-md-3" for="email">Banner Photo</label>
                  <div class="col-md-9">
                    <input type='file' id="profile-imp" style="display:none;" />
                    <div class="product-img-box">
                      <img id="seller-pic" src="/assets/placeholder-1.svg" alt=""  class="thumbnail img-responsive"/>
                    </div>
                    <small>This photo is your profile banner on Meri Dookan and appears on your profile.</small>
                  </div>
                </div>
                <!-- Message body -->
                <div class="form-group">
                  <label class="col-md-3" for="message">Somethings About You</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="This is where you make your pitch to potential buyers. Describe your background, your passion and your personality...." rows="5"></textarea>
                  </div>
                </div>
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="save-changes">Save Changes</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- contentpanel --> 
  </div>
  <!-- mainpanel --> 
</section>
<script type="text/javascript">
  function performClick(elemId) {
    var elem = document.getElementById(elemId);
    if(elem && document.createEvent) {
       var evt = document.createEvent("MouseEvents");
       evt.initEvent("click", true, false);
       elem.dispatchEvent(evt);
    }
  }
  
  function readURL(input) {
     if (input.files && input.files[0]) {
         var reader = new FileReader();
         
         reader.onload = function (e) {
             $('#seller-pic').attr('src', e.target.result);
         }
         
         reader.readAsDataURL(input.files[0]);
     }
  }
  
  $("#profile-imp").change(function(){
     readURL(this);
  });
  $('#seller-pic').click(function(){  $('#profile-imp').click()  });
  
</script>
