<% get_user( user_id ).buyer_notifications.group_by(&:order_id).take(10).each do | notification | %>  
    <a class="message" href= "#"><li> Items placed at <%= notification[1][0].created_at.strftime("%d/%m/%Y") %></li> </a>
<% end %>