<% if user_signed_in? %>
	$("#sign-in-form-place").html("<%= j render "/checkout/shared/logout" %>")
<% else %>
	$("#error-messages").html("<div class=\"alert alert-warning fade in\"><button class=\"close\" data-dismiss=\"alert\">x</button>Invalid password.</div>")
<% end %>