<div class="row">
	<div class="col-md-6">
		<h2 class="">Thank you for your order!</h2>
		<div>Your order has been placed and is being processed. When the item(s) are shipped, you will receive an email with the details. You can track this order through My orders page.</div>
		<h4 style="color:#DF2027;">Rs. <%= @order.subtotal.to_f %></h4>
	</div>
	<div class="col-md-6">
	</div>
</div>