<div class="row">
  <div data-object="search_products" data-q="<%=params[:q]%>" data-items="<%= @search %>">
  </div>
  <div id="loadmoreajaxloader" style="display:none;"><center><img src="/assets/loader.gif" /></center></div>
</div>