/* line 1, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
iframe.wysihtml5-sandbox {
  width: 50% !important;
}

/* line 5, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
textarea {
  width: 100%;
}

/* line 9, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
#product_title {
  font-size: 30px;
}

/* line 13, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.product-container {
  margin-left: 86px;
  width: 70%;
}

/* line 18, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
#map {
  height: 250px;
}

/* line 22, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.signup {
  height: 50px !important;
  min-width: 121px;
  background: red;
  color: white;
}

/* line 29, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.btn-breadcrumb .btn-default {
  cursor: default;
}

/* line 33, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.btn-breadcrumb .btn-success:not(:last-child):before {
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  border-top: 17px solid transparent;
  content: " ";
  left: 100%;
  margin-top: -17px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 3;
  border-left: 10px solid #4cae4c;
}

/* line 47, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.set-margin {
  left: 88px;
  margin-bottom: 23px;
}

/*Drop menu*/
/* line 55, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.portfolio-item {
  margin-bottom: 25px;
  min-height: 234px;
}

/* line 60, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop {
  margin-top: 50px;
}

/* line 64, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu {
  background: #491e11;
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 30px;
  border: 2px solid #491e11;
}

/* line 72, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li {
  display: inline-block;
}

/* line 73, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li a {
  padding: 9px 8px;
  display: block;
  color: #fff;
  text-decoration: none;
  font: 12px arial, verdana, sans-serif;
}

/* Submenu */
/* line 82, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu ul {
  position: absolute;
  left: -9999px;
  top: -9999px;
  list-style-type: none;
  z-index: 11111;
  border-radius: 3px;
}

/* line 90, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li:hover {
  position: relative;
  background: #a8af3f;
  border: 1px solid #a8af3f;
}

/* line 91, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li:hover ul {
  left: 0px;
  top: 26px;
  background: #a8af3f;
  padding: 0px;
  border: 1px solid #a8af3f;
  border-top: medium none;
  border-radius: 3px;
}

/* line 101, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li:hover ul li a {
  padding: 5px 15px;
  display: block;
  width: 168px;
  text-indent: 0px;
  background-color: #a8af3f;
  color: #fff;
}

/* line 109, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li:hover ul li a:hover {
  background: #a8af3f;
  text-decoration: underline;
}

/* line 110, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li:hover ul ul {
  display: none;
}

/* line 111, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.drop_menu li li:hover ul {
  display: block;
  /* shows sub-sublist on hover */
  margin-left: 147px;
  /* this should be the same width as the parent list item */
  margin-top: -35px;
  /* aligns top of sub menu with top of list item */
}

/* line 117, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.header-color {
  background-color: #491e11;
  border-color: #491e11;
}

/* line 121, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.navbar-title {
  color: #fff !important;
  font-size: 38px;
  font-weight: bold;
}

/* line 126, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.color-white {
  color: #fff !important;
}

/* line 130, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.form-margin-top {
  margin-top: 30px;
}

/* line 133, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.navs-margin {
  margin-left: 84px;
}

/* line 136, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.delivery-margin {
  margin-left: 69px;
  margin-top: -24px;
}

/* line 141, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.deliver-text {
  top: 27px;
}

/* line 144, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.bootstrap-tagsinput {
  width: 100% !important;
}

/* line 147, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
span.btn.btn-default a {
  color: #333333;
  text-decoration: none;
}

/* line 151, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
span.btn.btn-success a {
  color: #fff;
  text-decoration: none;
}

/* line 155, /home/mylara-yuvasoft/Desktop/MeriDookan/meridukan/app/assets/stylesheets/common_css.css.scss */
.align-image {
  height: 250px;
}
