<div class="row">
	<div class="col-md-3">
		<%= link_to cash_on_delivery_checkout_index_path, remote: true, class: "a_demo_four", style: "padding: 14px 100px;" do %>₹ COD<% end %><br/><br/>
	</div>
	<div class="col-md-6">
	</div>
	<div class="col-md-3">
	</div>
</div>