<div class="top-subtotal"><%= current_order.order_items.count %> items, <span class="price"><%= current_order.subtotal.to_f %> &#8377;</span> </div>
<!--top-subtotal-->
<div class="pull-right">
  <%= link_to cart_path do %>
    <button title="View Cart" class="view-cart" type="button"><span>View Cart</span></button>
  <% end %>
</div>
<!--pull-right--> 