<div class="mm-toggle-wrap">
  <div class="mm-toggle">
    <i class="icon-align-justify"></i>
    <span class="mm-label">Menu</span> 
  </div>
</div>
<div class="span_1_of_1">
  <h2>Select your Product Categories <br>
    Find it on here
  </h2>
  <%= form_tag search_index_path, method: :get do %>
    <div class="search">
      <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn dropdown-toggle select-option" data-toggle="dropdown">
              <span id="search_concept">Products</span> <span class="caret"></span>
            </button>
            <ul id="search_selection" class="dropdown-menu" role="menu">
              <li><a data-text="Search for a product" data-action="/search" href="#">Products</a></li>
              <li><a data-text="Search for a store"  data-action="/search/stores" href="#">Shops</a></li> 
            </ul>
          </div>
          <input type="text" class="form-control" name="q" placeholder="Search for a product" id="search_text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search_button"><span class="fa fa-search"></span></button>
          </span>
      </div>
    </div>
  <% end %>
</div>
<div id="magik-slideshow" class="magik-slideshow">
  <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
    <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
      <ul>
        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/assets/slide-img1.jpg'><img src='/assets/slide-img1.jpg' alt="slide1" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  /> </li>
        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/assets/slide-img2.jpg'><img src='/assets/slide-img2.jpg' alt="slide2" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  /> </li>
      </ul>
    </div>
  </div>
</div>
<div class="features">
  <div class="">
    <div id="features-carousel" class="util-carousel features-carousel">
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img1.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img2.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img3.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img4.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img1.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img2.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
    </div>
  </div>
</div>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>ADVANTAGE  FOR <span class="red-title">SELLERS</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img1.jpg" width="274" height="182">
        <div class="color-box1"> Business </br>
          24/7 </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img2.jpg" width="274" height="182">
        <div class="color-box2"> BOOST </br>
          YOUR SALES </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img3.jpg" width="274" height="182">
        <div class="color-box3"> TOUCH</br>
          WITH YOUR CUSTOMERS </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img4.jpg" width="274" height="182">
        <div class="color-box4"> ONLINE</br>
          STORE CONTROL </div>
      </div>
    </div>
  </div>
</section>
<section class="gray-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>How to <span class="red-title">Sell</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon1.png" width="140" height="140">
      </center>
      <h1 class="step-title">Upload product</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon2.png" width="140" height="140">
      </center>
      <h1 class="step-title">Get order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon3.png" width="140" height="140">
      </center>
      <h1 class="step-title">deliver order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon4.png" width="140" height="140">
      </center>
      <h1 class="step-title">Receive payment</h1>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>trending <span class="red-title">shops</span></span> </h1>
    </div>
    <div class="team-showcase">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/subway.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/titan.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/pantaloons.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/relince.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>ADVANTAGE  FOR <span class="red-title">Buyers</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img1.jpg" width="274" height="182">
        <div class="color-box1"> Business </br>
          24/7 </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img2.jpg" width="274" height="182">
        <div class="color-box2"> BOOST </br>
          YOUR SALES </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img3.jpg" width="274" height="182">
        <div class="color-box3"> TOUCH</br>
          WITH YOUR CUSTOMERS </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> 
        <img src="/assets/img4.jpg" width="274" height="182">
        <div class="color-box4"> 
          ONLINE</br>STORE CONTROL 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gray-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>How to <span class="red-title">Buy</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon5.png" width="140" height="140">
      </center>
      <h1 class="step-title">Receive product</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon2.png" width="140" height="140">
      </center>
      <h1 class="step-title">Place order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon3.png" width="140" height="140">
      </center>
      <h1 class="step-title">collect order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon4.png" width="140" height="140">
      </center>
      <h1 class="step-title">do the payment</h1>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>trending <span class="red-title">products</span></span> </h1>
    </div>
    <div class="team-showcase">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product1.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product2.jpg"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product3.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product4.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parallax-2">
  <div class="container">
    <div class="col-xs-12">
      <div class="carousel slide carousel-new" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /Slide1 -->
          <div class="item">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<!-- <div id="selectAreaPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center><h4 class="modal-title"><i class="fa fa-map-marker"></i>&nbsp;Select Your Area</h4></center>
            </div>
            <div class="modal-body">
                <form>
                            <div class="form-group">
                                
                                <select class="form-control"><option value="0">Select Your State</option><option value="50">Andhra Pradesh</option><option value="36">Delhi</option><option value="49">Gujarat</option><option value="35">Haryana</option><option value="48">Jharkhand</option><option value="44">Karnataka</option><option value="41">Kerala</option><option value="40">Madhya Pradesh</option><option value="38">Maharashtra</option><option value="45">Odisha</option><option value="47">Punjab</option><option value="42">Rajasthan</option><option value="39">Tamil Nadu</option><option value="46">Telangana</option><option value="34">Uttar Pradesh</option><option value="43">Uttarakhand</option><option value="37">West Bengal</option></select>
                            </div>
                            <div class="form-group">
                                <select class="form-control"><option value="0">Select Your City</option><option value="10172">Bhopal</option><option value="123">Indore</option></select>
                            </div>
                            <div class="form-group">
                                
                                <select class="form-control"><option value="Select Your Area">Select Your Area</option><option value="11 Banglow Colony">11 Banglow Colony</option><option value="Aerodrum Road">Aerodrum Road</option><option value="Ahilyapur">Ahilyapur</option><option value="Alok Nagar">Alok Nagar</option><option value="Ammar Nagar">Ammar Nagar</option><option value="Anan Nagar">Anan Nagar</option><option value="Annapurna">Annapurna</option><option value="Anoop Nagar">Anoop Nagar</option><option value="Appolo Db City">Appolo Db City</option><option value="Ashish Nagar">Ashish Nagar</option><option value="Ashok Nagar">Ashok Nagar</option><option value="Babul Nagar">Babul Nagar</option><option value="Bada Ganpati">Bada Ganpati</option><option value="Bajrang Nagar">Bajrang Nagar</option><option value="Bangali Colony">Bangali Colony</option><option value="Banganaga">Banganaga</option><option value="Bank Colony">Bank Colony</option><option value="Bapat Chouraha">Bapat Chouraha</option><option value="Bhaktawar Ram Nagar">Bhaktawar Ram Nagar</option><option value="Bhanwar Kuan">Bhanwar Kuan</option><option value="Biyabani Square">Biyabani Square</option><option value="Bj Vihar">Bj Vihar</option><option value="Cat Square">Cat Square</option><option value="Chhatrapati Nagar">Chhatrapati Nagar</option><option value="Chhatribagh">Chhatribagh</option><option value="Chhawni">Chhawni</option><option value="Choithram">Choithram</option><option value="DDU Nagar">DDU Nagar</option><option value="Devi Ahilya Marg">Devi Ahilya Marg</option><option value="Dewas Naka">Dewas Naka</option><option value="Door Darshan Kendra">Door Darshan Kendra</option><option value="Dravid Nagar">Dravid Nagar</option><option value="Dwarkapuri">Dwarkapuri</option><option value="Ext Shrinagar">Ext Shrinagar</option><option value="Film Colony">Film Colony</option><option value="Footi Kothi">Footi Kothi</option><option value="Gandhi Park">Gandhi Park</option><option value="Ganga Colony">Ganga Colony</option><option value="Geeta Bhawan">Geeta Bhawan</option><option value="Geeta Nagar">Geeta Nagar</option><option value="Gokul Nagar">Gokul Nagar</option><option value="Goyal Avenue Colony">Goyal Avenue Colony</option><option value="Goyal Nagar">Goyal Nagar</option><option value="Gumasta Nagar">Gumasta Nagar</option><option value="Guru Nanak Nagar">Guru Nanak Nagar</option><option value="Hrasiddhi">Hrasiddhi</option><option value="Ida Scheme 134">Ida Scheme 134</option><option value="Ida Scheme No. 140">Ida Scheme No. 140</option><option value="Incometax Colony">Incometax Colony</option><option value="Indra Nagar">Indra Nagar</option><option value="Indrapuri">Indrapuri</option><option value="ITI">ITI</option><option value="Janki Nagar">Janki Nagar</option><option value="Janta Colony">Janta Colony</option><option value="Jawahar Marg">Jawahar Marg</option><option value="Juni Indore">Juni Indore</option><option value="Kalindi Park">Kalindi Park</option><option value="Kanadia">Kanadia</option><option value="Kanchan Bagh">Kanchan Bagh</option><option value="Khajrana">Khajrana</option><option value="Khajuri Bazar">Khajuri Bazar</option><option value="Khati Mohalla">Khati Mohalla</option><option value="Khatipura">Khatipura</option><option value="Khatiwala Tank">Khatiwala Tank</option><option value="Kundan Nagar">Kundan Nagar</option><option value="L.I.G. Colony">L.I.G. Colony</option><option value="Lavisha Singapur Colony">Lavisha Singapur Colony</option><option value="Laxmi Bai Nagar">Laxmi Bai Nagar</option><option value="Lokmanya Nagar">Lokmanya Nagar</option><option value="Loknayak Nagar">Loknayak Nagar</option><option value="M.G. Road">M.G. Road</option><option value="M.T. Cloth Market">M.T. Cloth Market</option><option value="Maa Sharda Nagar">Maa Sharda Nagar</option><option value="Maa Vihar Colony">Maa Vihar Colony</option><option value="Mahalaxmi Nagar">Mahalaxmi Nagar</option><option value="Mahalaxmi Parisar">Mahalaxmi Parisar</option><option value="Mahaveer Nagar">Mahaveer Nagar</option><option value="Mahesh Nagar">Mahesh Nagar</option><option value="Mahrani Road">Mahrani Road</option><option value="Malharganj">Malharganj</option><option value="Malvi Nagar">Malvi Nagar</option><option value="Malviya Nagar">Malviya Nagar</option><option value="Malwa Mill">Malwa Mill</option><option value="Mamta Colony">Mamta Colony</option><option value="Manik Bagh">Manik Bagh</option><option value="Manorama Ganj">Manorama Ganj</option><option value="Mari Mata">Mari Mata</option><option value="Mig Colony">Mig Colony</option><option value="Moti Tabela">Moti Tabela</option><option value="Nanda Nagar">Nanda Nagar</option><option value="Navlakha">Navlakha</option><option value="Nayan Nagar NX C Sector">Nayan Nagar NX C Sector</option><option value="New Palasia">New Palasia</option><option value="Niranjanpur">Niranjanpur</option><option value="Nyan Nagar NX AB Sector">Nyan Nagar NX AB Sector</option><option value="Officers Colony">Officers Colony</option><option value="Old Palasia">Old Palasia</option><option value="Palsikar Colony">Palsikar Colony</option><option value="Panchavati Colony">Panchavati Colony</option><option value="Pardesi Pura">Pardesi Pura</option><option value="Patni Pura">Patni Pura</option><option value="Pavanpuri Colony">Pavanpuri Colony</option><option value="Prajapat Nagar">Prajapat Nagar</option><option value="Prakash Nagar">Prakash Nagar</option><option value="Press Colony">Press Colony</option><option value="Prince City">Prince City</option><option value="Pushp Vihar Colony">Pushp Vihar Colony</option><option value="Radio Colony">Radio Colony</option><option value="Rajendra Nagar">Rajendra Nagar</option><option value="Rajiv Awas Vihar">Rajiv Awas Vihar</option><option value="Rajmahal Colony">Rajmahal Colony</option><option value="Raj Mohalla">Raj Mohalla</option><option value="Raj Nagar">Raj Nagar</option><option value="Rajwada">Rajwada</option><option value="Rambagh">Rambagh</option><option value="Ramchandra Nagar">Ramchandra Nagar</option><option value="Ram Krishna Bagh">Ram Krishna Bagh</option><option value="Ranipura">Ranipura</option><option value="Residency">Residency</option><option value="Revenue Nagar">Revenue Nagar</option><option value="Rnt Marg">Rnt Marg</option><option value="RNT Marg">RNT Marg</option><option value="Royal Residency">Royal Residency</option><option value="Sahara City Kendra">Sahara City Kendra</option><option value="Saify Nagar">Saify Nagar</option><option value="Sai Krapa Colony">Sai Krapa Colony</option><option value="Saket Nagar">Saket Nagar</option><option value="Samwad Nagar">Samwad Nagar</option><option value="Sanchar Nagar Extension">Sanchar Nagar Extension</option><option value="Sangam Nagar">Sangam Nagar</option><option value="Sanskriti Nagar">Sanskriti Nagar</option><option value="Sanvid Nagar">Sanvid Nagar</option><option value="Sapna Sangita">Sapna Sangita</option><option value="Sarvsampanna Nagar">Sarvsampanna Nagar</option><option value="Satellite Township">Satellite Township</option><option value="Scheme 74,C">Scheme 74,C</option><option value="Scheme 78, Main">Scheme 78, Main</option><option value="Scheme 78, Sector E">Scheme 78, Sector E</option><option value="Scheme No. 113">Scheme No. 113</option><option value="Scheme No. 114">Scheme No. 114</option><option value="Scheme No. 136">Scheme No. 136</option><option value="Scheme No.171">Scheme No.171</option><option value="Scheme No. 54">Scheme No. 54</option><option value="Scheme No.55">Scheme No.55</option><option value="Scheme No.71">Scheme No.71</option><option value="Scheme No.78-II">Scheme No.78-II</option><option value="Shalimar Township">Shalimar Township</option><option value="Shantinath Puri">Shantinath Puri</option><option value="Sheelnath Camp">Sheelnath Camp</option><option value="Sheetal Nagar">Sheetal Nagar</option><option value="Sheetla Mata">Sheetla Mata</option><option value="Shikshak Nagar">Shikshak Nagar</option><option value="Shiv Moti Nagar">Shiv Moti Nagar</option><option value="Shiv Sakti Nagar">Shiv Sakti Nagar</option><option value="Shradhhapuri">Shradhhapuri</option><option value="Shri Ram Nagar">Shri Ram Nagar</option><option value="Shri Vaishnavpolytechnic Collage">Shri Vaishnavpolytechnic Collage</option><option value="Shubh Sampada Colony">Shubh Sampada Colony</option><option value="Sindhi Colony">Sindhi Colony</option><option value="Siyaganj">Siyaganj</option><option value="Snehlata Ganj">Snehlata Ganj</option><option value="Sneh Nagar">Sneh Nagar</option><option value="South Tukoganj">South Tukoganj</option><option value="Sudama Nagar-Main">Sudama Nagar-Main</option><option value="Sudama Nagar Sector-B">Sudama Nagar Sector-B</option><option value="Sudama Nagar Sector-C">Sudama Nagar Sector-C</option><option value="Sudama Nagar Sector-D">Sudama Nagar Sector-D</option><option value="Sukhliya">Sukhliya</option><option value="Sukh Shanti Nagar">Sukh Shanti Nagar</option><option value="Swami Vivekanand Nagar">Swami Vivekanand Nagar</option><option value="Telephone Nagar">Telephone Nagar</option><option value="Tilak Nagar">Tilak Nagar</option><option value="Usha Nagar">Usha Nagar</option><option value="Vaibhav Nagar">Vaibhav Nagar</option><option value="Vaishali Nagar">Vaishali Nagar</option><option value="Vandana Nagar">Vandana Nagar</option><option value="Vasant Vihar Colony">Vasant Vihar Colony</option><option value="Vasudev Nagar">Vasudev Nagar</option><option value="Vidhu Nagar">Vidhu Nagar</option><option value="Vijay Nagar">Vijay Nagar</option><option value="Vinoba Nagar">Vinoba Nagar</option><option value="Vishnu Puri Colony">Vishnu Puri Colony</option><option value="White Church Colony">White Church Colony</option></select>
                            </div>
                            <div class="text-center">
                                <input type="button" value="Start Shopping" class="btn start-shopping btn-block" id="">

                            </div>
                        </form>
            </div>
        </div>
    </div>
</div> -->
 <script type="text/javascript">
//   $(document).ready(function(){
//     $("#selectAreaPopup").modal('show');
//   });
// </script>