<!--<.........................Login and sign up form.........................>-->
<form class="login-signin active">
  <div class="popup-logo"><h1 class="main-name"><span class="fn">Meri</span> <span class="ln">Dukan</span></h1></div>
  <div class="social-connect"> <a href="#" class="connect-fb"><i class="fa fa-facebook"></i> Connect with Facebook</a> <a href="#" class="connect-tw"><i class="fa fa-twitter"></i> Connect with Twitter</a>
    <p class="login-option">or<br>
      Log in or sign up with email</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <center>
        <a href="<%=new_session_path(resource_name)%>" rel="login" class="btn">Log In</a>
      </center>
    </div>
    <div class="col-md-6">
      <center>
        <a href="<%=new_registration_path(resource_name)%>" rel="register" class="btn">Sign Up</a>
      </center>
    </div>
  </div>
</form>