<section class="login-back">
  <div id="animate-area"></div>
  <div class="container-fluid">
	  <div class="buyers-left">
	  	<img src="../assets/Login-buyes-step.png" >
	  </div>
	  <div class="col-md-4 col-md-push-8">
	  	<div class="buyers-login-right">
	  		<div>
	  			<center>
	  				<a href="/">
	  					<img src="../assets/meridookan-big.png" width="165" height="">
						</a>
					</center>
				</div>
				<div class="login-wrapper">
				  <div class="content">
				    <div id="form_wrapper" class="form_wrapper"> 
				      <form class="first active">
						    <div class="social-connect"> <a href="<%=social_path(:role=>:buyer)%>" rel="login-signin" class="step1-btn1">I wants to be a buyer</a> 
						    <a href="<%=social_path(:role=>:seller)%>" rel="login-signin" class="step1-btn2">I wants to be a seller</a> </div>
						  </form>
				    </div>
				    <div class="clear"></div>
				  </div>
				</div>
	 		</div>
	 	</div>
 	</div>
	<div id="animate-area2"></div>
</section>

  