<!--<.........................first form.........................>-->
  <form class="first active">
    <div class="popup-logo"><h1 class="main-name"><span class="fn">Meri</span> <span class="ln">Dukan</span></h1></div>
    <div class="social-connect"> <a href="<%=social_path(:role=>:buyer)%>" rel="login-signin" class="step1-btn1">I wants to be a buyer</a> <a href="<%=social_path(:role=>:seller)%>" rel="login-signin" class="step1-btn2">I wants to be a seller</a> </div>
  </form>
  