/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap-wysihtml5
 *= require custom
 *= require common_css
 *= require bootstrap-tagsinput
 *= require product
 *= require all
 *= require font-awesome.min
 *= require hover_img
 *= require jquery.bxslider
 *= require jquery.mobile-menu
 *= require style
 *= require util.carousel.skins
 *= require owl.carousel
 *= require revslider
 *= require animate
 *= require bootstrap_tagsinput
 *= require buyers-css
 *= require font-awesome
 *= require form-steps/form-elements.css
 *= require form-steps/form-style.css
 *= require_self
 */

.signup{
	background: none repeat scroll 0 0 #19b9e7;
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-shadow: none;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
.signup:hover{
	color: #fff;
	opacity:0.6;
}

#map{
    height: 250px;
}
  body {
    background-color: #fff;
}
