/* 
 *  Custom CSS File
 *  v0.0.1
 */

.wdith-control-select{ width: 100%; min-height: 45px;  border-radius: 0;}
.main-custom-div{
  .fields, .inline-block-css{ 
    display: inline-block;
  }
}
.background-opacity{   
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    min-height:256px;
}
.background-opacity:hover{   
    opacity: 1;
    cursor: pointer;
}

.buy_and_get_products{
	background-image: url(/assets/discount-1.png);
  margin: 20px 0px;
}

.gift_on_products{
	background-image: url(/assets/discount-2.png);
  margin: 20px 0px;
}

.percentage_on_amount{
	background-image: url(/assets/discount-3.png);
  margin: 20px 0px;
}

.gift_on_amount{
	background-image: url(/assets/discount-4.png);
  margin: 20px 0px;
}
.search-link-color {
    background-color: #fff;
}
.top-cart-content-main {
  display: none;
  position: absolute;
  top: 20px;
  right: 0px;
  background: none;
  padding: 0;
  text-align: right;
  z-index: 10;
}
.cart-content-fix{ height:12px;}