<div class="col2-right-layout bounceInUp animated">
	<div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> My Product <span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label"><%= link_to 'Add a new Product', new_product_path,:class=>"pull-right btn add-product-btn" %></span>
      </div>
    </div>
    <div class="main">
		  <%= render 'products/shared/header', :@overview_tab=>"btn-success" %>
		  <div class="tab-content">
		    <p id="notice"></p>
		    <%= render 'form' %>
		  </div>
		</div>
	</div>
</div>