<div class="row">
        <h2>Create Your Product</h2>
        <div class="btn-group btn-breadcrumb set-margin">
            <span class="btn btn-success">Create Product</span>
            <span class="btn btn-default">Pricing</span>
            <span class="btn btn-default">Additional Offers</span>
        </div>
	</div>
<%= render 'form' %>

<%= link_to 'Back', products_path %>
