<div class="main-container col2-right-layout bounceInUp animated">
    <div class="main container">
  <%= render 'products/shared/header', :@pricing_tab=>"btn-success" %>
  <p id="notice"></p>
  <%= render 'pricing'%>
</div>
</div>