<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <center><img src="/assets/meridookan-big.png" width="160"></center>

        <div class="login-categories">
          <div id="form_wrapper" class="form_wrapper"> 
            <form class="first active">
              <div class="social-connect"> <a href="<%=social_path(:role=>:buyer)%>" rel="login-signin" class="step1-btn1">I wants to be a buyer</a> <a href="<%=social_path(:role=>:seller)%>" rel="login-signin" class="step1-btn2">I wants to be a seller</a> </div>
            </form>
          </div>
          <div class="clear"></div>
        </div>                
    </div>
  </div>
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <center><img src="/assets/meridookan-big.png" width="160"></center>

        <div class="login-categories">
          <div id="form_wrapper" class="form_wrapper"> 
            <form class="first active">
              <div class="social-connect"> <a href="<%=social_path(:role=>:buyer)%>" rel="login-signin" class="step1-btn1">Login as a buyer</a> <a href="<%=social_path(:role=>:seller)%>" rel="login-signin" class="step1-btn2">Login as a seller</a> </div>
            </form>
          </div>
          <div class="clear"></div>
        </div>                
    </div>
  </div>
</div>