<!-- Navbar -->

<div class="nav-inner">
  <ul id="nav" class="hidden-xs">
    <% Category.all.each do |category| %>
    <li class="mega-menu"><a href="#" class="level-top"><span><%= category.title %></span></a>
      <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
        <div class="container">
          <div class="level0-wrapper2">
            <div class="nav-block nav-block-center">
              <ul class="level0">
                <% category.sub_categories.where(parent_id: nil).each do |sub_category| %> 
                  <% if !sub_category.child_categories.blank?%>
                    <li class="level1 nav-6-1 parent item"><a href="#" class=""><span><%= sub_category.title %></span></a>
                      <ul class="level1">
                        <% sub_category.child_categories.each do |child| %>
                          <li class="level2 nav-6-1-1"><a href="#"><span><%= child.title %></span></a></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% end %>

  </ul>
</div>

<!-- end nav --> 