<div class="drop">
<ul class="drop_menu inline_categories">
<%user_category.each do |category|%>
	<li><a href='#'><%= category.title%></a>
		<ul>
		<%SubCategory.where(:parent_id=>nil,:category_id=>category.id).each do |sub_category|%>
			<li><a href='#'><%= sub_category.title%></a>
				<ul>
					<%sub_category.child_categories.each do |sub_child_category|%>
          				<li><a href="#"><%= sub_child_category.title%></a></li>
          			<%end%>
        		</ul>
        	
			</li>
		<%end%>
		</ul>
	</li>
<%end%>
</ul>
</div>